extends layout

block content

  h1 Add Student

  form(
    action='/add',
    method='POST',
    onsubmit='addAlert()'
  )

    div

      label Name:

      br

      input(type='text', name='name', required)

    br

    div

      label Course:

      br

      input(type='text', name='course', required)

    br

    div

      label Marks:

      br

      input(type='number', name='marks', required)

    br

    button(type='submit')
      | Add Student